NODE_ENV=dev
PORT=8080
DB_NAME=postgres
DB_USER=postgres
DB_PASSWORD=Bb5527980098
DB_HOST=postgres
DB_PORT=5432
ACCESS_TOKEN_SECRET=4Axm/jI3idhw+lL5EuV2TNLBBQFajwlOS7C3IQbg6rA4
REFRESH_TOKEN_SECRET=2TlM/jI7idhw+lL5EuV2TnLCBZFajwlOS1C3IQbg6rA4
ACCESS_TOKEN_EXPIRES_IN=15m
REFRESH_TOKEN_EXPIRES_IN=7d
